.form
    position: absolute
    transform: translateY(-150vh)
    transition: transform 333ms
    display: flex
    flex-direction: column
    background-color: #ffd8ba
    border: 2px solid #090400
    border-radius: 5px
    padding: 20px 50px
    top: 50%
    color: #090400
    z-index: 99
    &.active
        transform: translateY(-50%)
    .close
        position: absolute
        top: -35px
        right: -5px
        height: 30px
        width: 30px
        background-color: transparent
        border: none
        &:before, &:after
            position: absolute
            background-color: black
            content: ''
            height: 5px
            width: 100%
            left: 0
            top: 50%
            transform: rotate(45deg) translateY(-50%)
            transform-origin: top
            transition: transform 555ms
        &:after
            left: initial
            right: 0
            transition-delay: 100ms
            transform: rotate(-45deg) translateY(-50%)
        
    .submit
        background-color: #bafffb
        border: 2px solid #090400
        border-radius: 5px
        padding: 10px
        color: #090400
        font-size: 1.1rem
        margin: 20px 0 0
    .label
        font-weight: bolder
        margin: 5px 0
    .input
        padding: 10px
        border-radius: 5px


@media(min-width: 1024px)
    .form
        .close
            cursor: pointer
            &:hover
                &:before
                    transform: rotate(405deg) translateY(-50%)
                &:after
                    transform: rotate(315deg) translateY(-50%)
                    

        .submit
            cursor: pointer
            transition: background-color 555ms, border-color 555ms, color 555ms
            &:hover
                background-color: #090400
                border-color: 2px solid #bafffb
                color: #bafffb