body
    margin: 0
    font-family: 'Noto Sans JP', sans-serif
    color: #090400
    background: #bae1ff
    
.app
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: column
    background-color: #bafffb
    padding: 50px 0
    .btn
        background-color: #ffd8ba
        border: 2px solid #090400
        border-radius: 5px
        padding: 20px 50px
        color: #090400
        font-size: 1.1rem
        margin: 0 0 30px

@media(min-width: 1024px)
    .app
        max-width: 500px
        margin: 50px auto 50px
        padding: 50px
        border-radius: 20px
        box-shadow: 5px 5px 5px #090400;
        .btn
            cursor: pointer
            transition: background-color 555ms, border-color 555ms, color 555ms
            align-self: flex-start
            &:hover
                background-color: #090400
                border-color: 2px solid #ffd8ba
                color: #ffd8ba
                
        
