body
    margin: 0
    font-family: 'Noto Sans JP', sans-serif
    color: #090400
    background: #bae1ff
    
.app
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    height: 100vh
    overflow: hidden
    background-color: #bafffb
    
    .svg
        .circle
            stroke-dasharray: 277
            stroke-dashoffset: 277
            // transform: rotate(0deg)
            transform-origin: center
            transition: stroke-dashoffset 1.3s cubic-bezier(.74,0,.24,.99),transform 1.3s cubic-bezier(.74,0,.24,.99)
            &.active
                stroke-dashoffset: 0
                // transform: rotate(90deg)
        .poly
            opacity: 0
            transition: opacity 500ms
            transition-delay: 2.5s
            &.active
                transition-delay: 0ms
                opacity: 1
        .text
            tspan
                opacity: 0
                display: block
                transition: opacity 500ms
                transition-delay: 1s
                &:nth-child(4)
                    transition-delay: 500ms
                &:nth-child(3)
                    transition-delay: 1s
                &:nth-child(2)
                    transition-delay: 1.5s
                &:nth-child(1)
                    transition-delay: 2s
            &.active
                tspan
                    opacity: 1
                    &:nth-child(1)
                        transition-delay: 500ms
                    &:nth-child(2)
                        transition-delay: 1s
                    &:nth-child(3)
                        transition-delay: 1.5s
                    &:nth-child(4)
                        transition-delay: 2s
                        


                
        
